#banner {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;

    width: 100%;
    padding: 2rem;
    border-radius: 10px;

    z-index: 5;

    background: white;

    margin-bottom: 5px;
    border: 3px solid black;

    display: flex;
    justify-content: center;
}

#banner a {
    color: black;
}

#banner a:hover {
    text-decoration: none;
    color: black;
}

#close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer !important;
    color: #212529;
}

#banner .banner-heading {
    margin: 0 auto !important;
}

@media (max-width: 500px) {
    #banner {
        padding: 1rem;
    }
}

#banner .cta-btn {
    padding: 10px 60px;
    border-radius: 1.5rem;
    margin-top: 1.2rem !important;
    color: white;
}

#banner .cta-btn:hover {
    color: white;
}

#banner .palette-bg-blue {
    background:linear-gradient(45deg, #107ba0, #6bbdd3);
}

#banner .palette-bg-blue:hover {
    background-color: #084880;
}
