.navbar {
    background-color: transparent;
    z-index: 10;
}

.navbar-brand {
    font-family: 'Barlow', sans-serif;
    font-weight: var(--font-bold);
    font-size: 1.5rem;
}

.navbar-brand img {
    margin-right: 10px;
}

.nav-link {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: var(--font-bold);
    color: white !important;
    margin-left: 60px;
}

.collapsing,
.collapse.show {
    background: #191919;
    opacity: 0.8;
}
