html {
	scroll-behavior: smooth;
}

body {
	color: white;
	margin: 0;
	padding: 0;
	background-color: #07071C;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 7.5rem;
}

.problem_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10rem;
    padding-bottom: 5rem;
    border-bottom: 0.1rem solid #fff;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    width: 100%;
    text-align: center;
}

/* ul {
    font-size: 1.5rem;
    font-weight: 300; ok idk why was this here  so i removed it and it works wow
} */

p {
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.footer-outer {
    margin-top: 10rem;
}

img {
    width: 40%;
    height: auto;
    margin-bottom: 2rem;
}

.footer-note {
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
    width: 80%;
}

.footer-note a {
    text-decoration: underline;
    font-weight: bold;
    transition: 0.3s;
}

.footer-note a:hover {
    color: rgba(255, 255, 255, 0.753);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    ul {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    img {
        width: 80% !important;
    }
}


