<div class="about" id="about">
    <div  id="content">
       <div class="col-sm-12">
          <div class="fancy_heading_container">
             <h1 class="fancy_heading" style="margin-left: -15% !important;">About Us</h1>
          </div>
          <p class="what-content">
             Started in 2016, Megathon is Hyderabad's largest student-run Hackathon. Organised by E-Cell IIIT Hyderabad with the intention of promoting the spirit of entrepreneurship and development among the student community in and around the city, it has gotten bigger and more successful over the years; drawing 450 participants in its first year, and upwards of 600 in its second. It didn't stop there. In the 3rd edition we introduced an online event, taking the hackathon nationwide. The 2018 edition of Megathon had over 1000 participants from colleges all across the country.
          </p>
          <div class="row text-center" id="contact-us-btn">
             <div style="z-index: 4; position: relative;">
                <a class="dev dev-btn" href="#contact">Contact Us</a>
             </div>
          </div>
       </div>
    </div>
 </div>