<div style="margin-bottom: 7.5%;" class="about" id="about">
    <div  id="content">
       <div class="col-sm-12">
          <div class="fancy_heading_container">
             <h1 class="fancy_heading" style="margin-left: -15% !important;">About Us</h1>
          </div>
          <p class="what-content" style="font-family : 'Josefin Sans';">
            Launched in 2016 by E-Cell IIIT Hyderabad, Megathon has grown into the ultimate breeding ground for entrepreneurial spirit and innovation. Since its inception, it has consistently seen high footfalls, becoming Hyderabad’s largest and most anticipated student hackathon. In 2024, we brought together 650+ passionate innovators from across the country, and the momentum only continues to grow.

            This year, we proudly present Megathon 2025: The Deccan Edition - powered by CHUBB, in association with Qualcomm and Bhashini. Happening on October 11th and 12th, it sets the stage for the biggest student-run hackathon in Hyderabad. With the motto Meet. Ideate. Hack. this edition celebrates the spirit of building in Hyderabad with an impact that extends to the world.

            Megathon isn’t just about coding; it’s a 24-hour immersion into creativity, collaboration, and entrepreneurial thinking. It’s where ideas transform into reality, where peers become teammates, and where innovation knows no bounds.

            Join us at Megathon 2025: The Deccan Edition and be part of the movement shaping the future, from Hyderabad to the world. View the Terms and Conditions <a href="https://drive.google.com/file/d/1CD0es1HXw6aPrSfymOXZxGpy3iFbaZE4/view?usp=drive_link"><u>here</u></a>.
          </p>
          <div class="row text-center" id="contact-us-btn">
             <div style="z-index: 4; position: relative;">
                <a class="dev dev-btn" href="#contact">Contact Us</a>
             </div>
          </div>
       </div>
    </div>
 </div>