<div class="about" id="about">
    <div  id="content">
       <div class="col-sm-12">
          <div class="fancy_heading_container">
             <h1 class="fancy_heading" style="margin-left: -15% !important;">About Us</h1>
          </div>
          <p class="what-content">
            Launched in 2016 by E-Cell IIIT Hyderabad, Megathon, our annual flagship event, has become the ultimate breeding ground for entrepreneurial spirit and innovation. With each passing year, Megathon's reputation has grown, drawing an ever-increasing number of students and participants. In 2018, we boasted 1000 participants, and the enthusiasm hasn't stopped there.
            This year, on October 28th and 29th, Megathon returns to set the stage for the biggest offline hackathon in Hyderabad. The 2022 edition saw 700+ participants from 30+ colleges, and we're poised to top that in 2023. Megathon isn't just about coding; it's a 24-hour immersion into creativity, collaboration, and entrepreneurship, where your ideas become reality, and innovation knows no bounds. Megathon provides a platform for students to unleash their potential, collaborate with like-minded peers, and helps them transform their entrepreneurial dreams into reality.
          </p>
          <div class="row text-center" id="contact-us-btn">
             <div style="z-index: 4; position: relative;">
                <a class="dev dev-btn" href="#contact">Contact Us</a>
             </div>
          </div>
       </div>
    </div>
 </div>