<div class="judge-section" id="judges">
    <div class="row mt-4">
        <div class="col-12 judge-head text-center">
            <div class="fancy_heading_container">
                <h1 class="fancy_heading">Contact Us</h1>
            </div>
        </div>
        <div class="judges-cards-section mt-4">
            <div class="row mt-4">
                {% for coordinator in site.data.coordinators %}
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <div class="judge-card">
                        <div class="inner-part">
                            <div class="center">
                                <div class="circ_gradient">
                                    <img src="{{ site.baseurl }}{{ coordinator.image }}" alt="speaker-img">
                                </div>
                            </div>
                            <p class="judge-position">{{ coordinator.position }}</p>
                        </div>
                        <p class="judge-name">{{ coordinator.name }}</p>
                        <p class="judge-name" style="font-size: 1rem">
                            <a href="tel:{{ coordinator.phone }}">{{ coordinator.phone }}</a>
                        </p>
                        <p class="judge-name" style="font-size: 1rem">{{ coordinator.availability }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
