<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Megathon 2025</title>

<script type="application/ld+json">
   {
     "@context" : "https://megathon.in/",
     "@type" : "WebSite",
     "name" : "Megathon 2025",
     "url" : "https://megathon.in/"
   }
 </script>

<!-- Site verification -->
<meta name="google-site-verification" content="n8M4XemuttH_XfEQQN9Ob2dM6-Qz0vZ44_e079XtPTk" />

<link rel="stylesheet" href="{{site.baseurl}}/css/style-prev.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/starrysky.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
   integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="shortcut icon" href="{{site.baseurl}}/assets/megathon_logo.png">
<link rel="stylesheet" href="{{site.baseurl}}/css/owl.carousel.min.css" />
<link rel="stylesheet" href="{{site.baseurl}}/css/owl.theme.default.min.css" />

{% include common_library_links.html %}

{% include google_analytics.html %}

<!-- <style>
    #content div h1,
    #com-content div h1,
    .faq-head h1,
    .judge-head h1,
    h1.what,
    .theme-header,
    .theme-list-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    }
    #content div p,
    #com-content div p,
    .judge-position {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    }
    .link p,
    .link a,
    .collapsible,
    .later p,
    .content,
    #lady p,
    a.nav-link,
    .judge-name {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    }
 </style> -->
