<div class="home-page" style="overflow: hidden;">
   <div class="heading">
      <h2>WE ARE BACK!</h2>
      <div class="heading_container">
         <h1>MEGATHON '23</h1>
      </div>
      <h3>28-29 OCTOBER</h3>

      <div class=""heading_container>
         <br><br>
         <!-- <h4> <span style="border-bottom: 1px solid #fff; padding-bottom: 2.5px"></span> Registrations opening soon</h4> -->
         <h4>JOIN US FOR THE EVENT AND COMPETE FOR THE CHANCE TO WIN INR 4 LAKH WORTH PRIZES.</h4>
         <h4>REGISTRATIONS WILL CLOSE AT 11:59 PM.</h4>
      </div>
      
      <div class="row" style="justify-content: center; align-items: center;">
         <div class="row text-center" id="reg-btn">
            <div style="z-index: 4; position: relative; justify-self: center;">
               <a class="dev dev-btn" id="regHead" style="text-decoration-color: rgb(207, 168, 168)" href="https://www.meraevents.com/event/megathon-2023">Register</a>
            </div>
         </div>
      </div>            
   </div>

   <div class="main-landing-text">
      <div class="hint" style="z-index: 4;">
         <div class="row">
            <div class="col-sm-12" style="text-align: center;">
            </div>
         </div>
      </div>
   </div>

   <div class="city_container">
      <div class="skyline_container">
         <img src="{{site.baseurl}}/img/Landing/skylinT.png"  alt="" class="skyline" style="z-index: -1; left: -20%">
         <img src="{{site.baseurl}}/img/Landing/skylinT.png"  alt="" class="skyline" style="z-index: -1; left: 27%">
         <img src="{{site.baseurl}}/img/Landing/skylinT.png"  alt="" class="skyline" style="z-index: -1; left: 75%">
      </div>
   </div>
</div>