<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top main-nav c25" id="mainNav">
    <div class="container-fluid" style="padding-right:0; padding-left:0%;">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
          style="padding: 0px 0px; margin: 0px 0px; border: none;">
       <img style="width:60px; padding: 0px 0px; margin: 0px 0px; " src="{{site.baseurl}}/img/nav.svg">
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto navbar-list">
             <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#about">About</a>
             </li>
             <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#aftermovie">Aftermovie '22</a>
             </li>
             <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#sponsors-page">Sponsors</a>
             </li>
             <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#faq">FAQ</a>
             </li>
             <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
             </li>
             <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/problem_statements">Problem Statements '23</a>
             </li>
             <li class="nav-item">
               <a class="nav-link js-scroll-trigger" style="text-decoration-color: rgb(207, 168, 168)" href="https://konfhub.com/megathon-24">Register</a>
            </li>
          </ul>
       </div>
    </div>
 </nav>

 <script>
   $(".navbar-toggler").click(function () {
     $(this).toggleClass("btn-top");
     $(".navbar-collapse").toggleClass("show");
     $(".main-nav").toggleClass("white");
     $(".nav-link").toggleClass("black");
   });
   $('.nav-link').click(function () {
     $(".navbar-collapse").toggleClass("show");
     $(".main-nav").toggleClass("white");
     $(".nav-link").toggleClass("black");
     $('.navbar-toggler').toggleClass('btn-top');
   });
</script>

<script>
   window.onscroll = function () { scrollFunction() };
   
   function scrollFunction() {
     if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
       document.getElementById("mainNav").classList.remove("c25");
       document.getElementById("mainNav").style.backgroundColor = "#000000 !important";
       document.getElementById("mainNav").classList.add("shadowFix");
       document.getElementById("mainNav").classList.add("c23");
   
       $(".nav-item a").addClass("c24");
   
     } else {
       document.getElementById("mainNav").classList.add("c25");
       document.getElementById("mainNav").classList.remove("shadowFix");
       document.getElementById("mainNav").classList.remove("c23");
       $(".nav-item a").removeClass("c24");
     }
   }
   
</script>