 <div class="row" style="margin-bottom: 3%;" id="sponsors-page">
   <div class="col-12 text-center">
       <h1 class="what">CHALLENGE SPONSOR</h1>
   </div>
</div>

<div class="row justify-content-around main-sponsors" style="margin-bottom: 5%;">
   <div class="sponsors_main1">
       <a href="{{ site.data.sponsors.challenge_sponsor.url }}" target="_blank">
           <img src="{{ site.baseurl }}{{ site.data.sponsors.challenge_sponsor.image }}" class="sponsor-image elast">
       </a>
   </div>
</div>

<!-- See _data/sponsors.yml -->