<div class="row" id="sponsors-page">
    {% for sponsor in site.data.sponsors %}
    <div class="col-sponsors">
        <div class="col-12 text-center"; style="margin-bottom:3%;">
            <h1 class="what1"> {{ sponsor.sponsors }}</h1>
        </div>

        <div class="row justify-content-around main-sponsors" style="margin-bottom: 5%;">
            {% for member in sponsor.members %}
            <div class="sponsors_main3">
                <a href="{{ member.url }}" target="_blank">
                    {% if sponsor.sponsors == "TITLE SPONSOR" %}
                    <img src="{{ site.baseurl }}/img/sponsors/{{ member.logo }}" alt="{{ member.name }} logo" class="title-sponsor-image">
                    {% else %}
                    <img src="{{ site.baseurl }}/img/sponsors/{{ member.logo }}" alt="{{ member.name }} logo" class="sponsor-image">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

