<div class="container-fluid sponsors sponsor-section" id="prize-section">
    <div class="row prizes_box sponsor-prize">
       <div class="col-12 text-center">
          <div class="fancy_heading_container">
             <h2 class="fancy_heading">Why Participate?</h2>
          </div>
       </div>
    </div>
    <div class="prize-page special-prize">
       <div class="row prize-section">
          <div class="col-lg-4 col-md-6 col-sm-12">
             <div class="prize-box">
                <div class="special-image">
                   <img src="{{site.baseurl}}/img/Prizes/rupee.png" alt="sponsor-image" class="prize_img">
                </div>
                <div class="image-dabba">
                   <div>
                      <h1>2.5 Lakhs</h1>
                   </div>
                </div>
                <div class="prize-number">
                   Worth prizes at stake, along with Certificate of Participation and T-Shirts
                </div>
                <img src="{{site.baseurl}}/img/Prizes/celo_glow.svg" alt="glow1" class="glow">
             </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
             <div class="prize-box">
                <div class="special-image special-imagep">
                   <img src="{{site.baseurl}}/img/Prizes/bulb.png" alt="sponsor-image" class="prize_logop">
                </div>
                <div class="image-dabba">
                   <div>
                      <h1>Get Inspired</h1>
                   </div>
                </div>
                <div class="prize-number" style="font-size: 20px !important;">
                   Code with 500+ developers and designers to build solutions to real-world problems
                </div>
                <img src="{{site.baseurl}}/img/Prizes/glow2.svg" alt="glow1" class="glow">
             </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
             <div class="prize-box">
                <div class="special-image special-imagep">
                   <img src="{{site.baseurl}}/img/Prizes/eye.png" alt="sponsor-image" class="prize_logop">
                </div>
                <div class="image-dabba">
                   <div class="new">
                      <h1>Fresh Insights</h1>
                   </div>
                </div>
                <div class="prize-number">
                   Get insights from eminent speakers and mentors
                </div>
                <img src="{{site.baseurl}}/img/Prizes/glow3.svg" alt="glow1" class="glow">
             </div>
          </div>
       </div>
    </div>
 </div>