---
layout: page
---
<link href="{{site.baseurl}}/css/faq.css" rel="stylesheet">
<div class="container-fluid">
    <div class="container">
        <div id="content" class="text-justify">
            {{ content }}
        </div>
    </div>
    <div class="section fp-auto-height" id="footer">
        <div class="row text-center">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <ul class="list-inline pt-3">
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.facebook.com/ecell.iiithyd/" target="_blank"><h2><i class="fab fa-facebook"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.instagram.com/ecell_iiith/" target="_blank"><h2><i class="fab fa-instagram"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://twitter.com/ecell_iiithyd" target="_blank"><h2><i class="fab fa-twitter"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA" target="_blank"><h2><i class="fab fa-youtube"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://github.com/IIIT-ECell" target="_blank"><h2><i class="fab fa-github"></i></h2></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>