---
layout: page
---
<link href="/css/home.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#fullpage').fullpage({
            //options here
            autoScrolling:true,
            scrollHorizontally: true,
            parallax: false,
            anchors: ['landing', 'about', '2019', 'online','problems','timeline','sponsors','sponsors2','contact'],
            controlArrows: false,
            navigation:true,
            navigationPosition: 'right',
        });
        // methods
        $.fn.fullpage.setAllowScrolling(true);
    });

</script>
<div id="fullpage">
    <div class="section hero">
        <div class="hero-parent">
            <span class="hero-byline">meet &middot; ideate &middot; hack</span>
            <h1 class="hero-title">
                megathon<span class="hero-title-gradient">.in</span>
            </h1>
        </div>
            <div class="hero-2019 d-none d-md-block">
                2019
            </div>
            <div class="hero-2019-small d-md-none">
                20<br>19
            </div>
    </div>
    <div class="section" id="#about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h1 class="main-heading display-2">about_us</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <p>
                        Started in 2016, Megathon is Hyderabad's largest student-run Hackathon. Organised by E-Cell IIIT Hyderabad with the intention of promoting the spirit of entrepreneurship and development among the student community in and around the city, it has gotten bigger and more successful over the years; drawing 450 participants in its first year, and upwards of 600 in its second. 
                        It didn't stop there. In the 3rd edition we introduced an online event, taking the hackathon nationwide. The 2018 edition of Megathon had over 1000 participants from colleges all across the country.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <iframe src="https://www.youtube.com/embed/KuaNsJj31Qw" height="100%" width="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h1 class="main-heading display-2">megathon_2019</h1>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p>
                        Megathon returns in 2019, and it's better than ever. Following the success of the online event last year, in this year's iteration of HOWZHACK we've introduced multiple problem statements for you to hack away at. Along with the 24 hour Onsite Hackathon on IIIT Campus grounds, this provides to participants multiple opportunities at winning desirable goodies.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h1 class="main-heading display-2">howz_hack</h1>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p>
                        In order to extend our national reach, we had introduced an online version of Megathon. Due to it's huge popularity last time, we decided to do it again. It is aimed mainly at people who are far from Hyderabad and cannot attend the event or people who don't want to pay to participate. Yes, you heard it right. It's free to participate. With more problem statements and better goodies, it's even bigger than before! 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12">
                    <h1 class="main-heading display-2">
                        <span class="full-text">problem_statements</span>
                        <span class="short-text">problem _statements</span>
                    </h1>
                </div>
                <div class="col-lg-5 col-sm-12">
                    <p>
                        To be announced soon! 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container" style="background: url('{{site.baseurl}}/assets/backgrounds/timeline.png') center no-repeat; background-size: contain; height: 80vh; margin: auto">
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row py-5">
                <h1 class="main-heading display-2">sponsors</h1>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="subheading text-center">
                        <span class="full-text">title_sponsor</span>
                        <span class="short-text">title _sponsor</span>
                    </h1>
                </div>
                <div class="col">
                    <h1 class="subheading text-center">
                        <span class="full-text">associate_sponsor</span>
                        <span class="short-text">associate _sponsor</span>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col my-auto">
                    <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/embibe.svg">
                </div>
                <div class="col my-auto">
                    <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/CYRRUP.png">
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="subheading">
                        <span class="full-text">internship_sponsor</span>
                        <span class="short-text">internship _sponsor</span>
                    </h1>
                </div>
                <div class="col">
                    <h1 class="subheading">
                        <span class="full-text">outreach_sponsor</span>
                        <span class="short-text">outreach _sponsor</span>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col my-auto">
                    <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/IS_Logo.svg">
                </div>
                <div class="col my-auto">
                    <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/hellointern.png">
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row py-5">
                <h1 class="main-heading display-2">contact_us</h1>
            </div>
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <h3>
                            @aishwarya_shrivastava
                        </h3>
                    </div>
                    <div class="col">
                        <a href="tel:+918179483672">
                            <h3>+91 8179483672</h3> 
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>
                            @ayush_shivani
                        </h3>
                    </div>
                    <div class="col">
                        <a href="tel:+919559932625">
                            <h3>+91 9559932625</h3>  
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>
                            @aditya_morolia
                        </h3>
                    </div>
                    <div class="col">
                        <a href="tel:+919559404288">
                            <h3>+91 9559404288</h3>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>
                            @priyank_modi
                        </h3>
                    </div>
                    <div class="col">
                        <a href="tel:+918328145692">
                            <h3>+91 8328145692</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section fp-auto-height" id="footer">
        <div class="row text-center">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <ul class="list-inline pt-3">
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.facebook.com/ecell.iiithyd/" target="_blank"><h2><i class="fab fa-facebook"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.instagram.com/ecell_iiith/" target="_blank"><h2><i class="fab fa-instagram"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://twitter.com/ecell_iiithyd" target="_blank"><h2><i class="fab fa-twitter"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA" target="_blank"><h2><i class="fab fa-youtube"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://github.com/IIIT-ECell" target="_blank"><h2><i class="fab fa-github"></i></h2></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
