---
layout: page
---
<link href="{{site.baseurl}}/css/home.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#fullpage').fullpage({
            //options here
            autoScrolling:true,
            scrollHorizontally: true,
            parallax: false,
            anchors: ['landing', 'about', '2019', 'online','problems','timeline','sponsors','sponsors2','sponsors3','ticketing','contact'],
            controlArrows: false,
            navigation:true,
            navigationPosition: 'right',
            recordHistory:false,
        });
        // methods
        $.fn.fullpage.setAllowScrolling(true);
    });

</script>
<div id="fullpage">
    <div class="section">
        <div class="raise-box hero">
            <div class="hero-parent">
                <span class="hero-byline">meet &middot; ideate &middot; hack</span>
                <h1 class="hero-title">
                    megathon<span class="hero-title-gradient">.in</span>
                </h1>
            </div>
            <div class="hero-2019 d-none d-md-block">
                2019
            </div>
            <div class="hero-2019-small d-md-none">
                20<br>19
            </div>
            <img src="{{ site.baseurl }}/assets/megathon-blobs/17.svg" id="blob17">
            <img src="{{ site.baseurl }}/assets/megathon-blobs/18.svg" id="blob18">
            <img src="{{ site.baseurl }}/assets/megathon-blobs/2.svg" id="blob2">
            <img src="{{ site.baseurl }}/assets/megathon-blobs/3.svg" id="blob3">
        </div>
    </div>
    <div class="section" id="aboutus">
        <div class="raise-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <h1 class="main-heading display-2">about_us</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <p>
                            Started in 2016, Megathon is Hyderabad's largest student-run Hackathon. Organised by E-Cell IIIT Hyderabad with the intention of promoting the spirit of entrepreneurship and development among the student community in and around the city, it has gotten bigger and more successful over the years; drawing 450 participants in its first year, and upwards of 600 in its second.
                            It didn't stop there. In the 3rd edition we introduced an online event, taking the hackathon nationwide. The 2018 edition of Megathon had over 1000 participants from colleges all across the country.
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <iframe src="https://www.youtube.com/embed/KuaNsJj31Qw" height="100%" width="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="megathon_19">
        <div class="raise-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 d-flex">
                        <h1 class="main-heading display-2 my-auto">
                            <span class="full-text">megathon_2019</span>
                            <span class="short-text">megathon _2019</span>
                        </h1>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p>
                            Megathon returns in 2019, and it's better than ever. Following the success of the online event last year, in this year's iteration of HOWZHACK we've introduced multiple problem statements for you to hack away at. Along with the 24 hour Onsite Hackathon on IIIT Campus grounds, this provides to participants multiple opportunities at winning desirable goodies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="howzhack">
        <div class="raise-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 d-flex">
                        <h1 class="main-heading display-2 my-auto">howz_hack</h1>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p>
                            Megathon Online is back and it is bigger and better than ever. E-Cell IIIT-Hyderabad is proud to announce HOWZHACK, the second edition of the Online event presented by Megathon. With the intent being the same: to bring Megathon to your home no matter where you live, HOWZHACK  brings you the perfect opportunity to show off your creativity and to put your problem solving skills to test.
                            HOWZHACK brings you three challenges, brought to you by our Partners. Bring us the best solutions and win amazing prizes. So put on your thinking caps, get your squad and register yourselves.
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="probstat">
        <div class="slide">
            <div class="raise-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-sm-12 d-flex">
                            <h1 class="main-heading display-2 my-auto">
                                <span class="full-text">problem_statements</span>
                                <span class="short-text">problem _statements</span>
                            </h1>
                        </div>
                        <div class="col-lg-4 col-sm-12 main-links-problems">
                            <a href="{{ site.baseurl }}/#problems/1"><button class="home-page-btn">Howzhack</button></a>
                            <a href="{{ site.baseurl }}/#problems/2"><button class="home-page-btn">Megathon</button></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="slide">
            <div class="raise-box">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 d-flex">
                            <h1 class="main-heading display-2 my-auto">
                                <span class="full-text">howzhack</span>
                                <span class="short-text">howzhack</span>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 sub-links-problems">
                            <a href="https://megathon.in/assets/problems/Cyrrup%20Problem%20Statement.pdf" target="_blank"> <button class="home-page-btn">Cyrrup</button></a>
                        </div>
                        <div class="col-sm-4 sub-links-problems">
                            <a href="https://megathon.in/assets/problems/DreamVu%20Problem%20Statement.pdf" target="_blank"><button class="home-page-btn">DreamVu</button></a>
                        </div>
                        <div class="col-sm-4 sub-links-problems">
                            <a href="https://megathon.in/assets/problems/Apxor%20Problem%20Statement.pdf" target="_blank">  <button class="home-page-btn">Apxor</button></a>
                        </div>
                        <div class="col-12 sub-links-problems">
                            <a href="https://megathon.in/assets/problems/sample_data.csv" target="_blank"><h3>Download Apxor dataset 1 here</h3></a>
                            <a href="https://megathon.in/assets/problems/hackathon.csv" target="_blank"><h3>Download Apxor dataset 2 here</h3></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="slide">
            <div class="raise-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-sm-12 d-flex">
                            <h1 class="main-heading display-2 my-auto">
                                <span class="full-text">megathon_onsite</span>
                                <span class="short-text">megathon _onsite</span>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 sub-links-problems">
                            <a href="https://megathon.in/assets/pstmnts/pwc.pdf" target="_blank"> <button class="home-page-btn">PwC</button></a>
                        </div>
                        <div class="col-sm-3 sub-links-problems">
                            <a href="https://megathon.in/assets/pstmnts/micron.pdf" target="_blank"> <button class="home-page-btn">Micron</button></a>
                        </div>
                        <div class="col-sm-3 sub-links-problems">
                            <a href="https://megathon.in/assets/pstmnts/qualcomm.pdf" target="_blank"><button class="home-page-btn">Qualcomm</button></a>
                        </div>
                        <div class="col-sm-3 sub-links-problems">
                            <a href="https://megathon.in/assets/pstmnts/embibe.pdf" target="_blank">  <button class="home-page-btn">Embibe</button></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-7 col-sm-12 d-flex">
                            <h3><a href="./formspage.html">Team formation and preference selection form</a></h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="section" id="event_timeline">
        <div class="raise-box">
            <div class="container" id="timeline-container">
            </div>
        </div>
    </div>
    <div class="section" id="sponsrs0">
        <div class="raise-box">
            <div class="container">
                <div class="row">
                    <h1 class="main-heading display-3">sponsors</h1>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h1 class="subheading text-center">
                            <span class="full-text">title_sponsor</span>
                            <span class="short-text">title _sponsor</span>
                        </h1>
                    </div>
                    <div class="col text-center">
                        <h1 class="subheading text-center">
                            <span class="full-text">associate_title_sponsor</span>
                            <span class="short-text">associate _title _sponsor</span>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-auto text-center">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/embibe.svg">
                    </div>
                    <div class="col my-auto text-center">
                        <img class="img-fluid" src="/assets/sponsors/Micron logo_blue.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="sponsrs01">
        <div class="raise-box">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="subheading text-center">
                            <span class="full-text">challenge_sponsors</span>
                            <span class="short-text">challenge _sponsors</span>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-auto text-center">
                        <img class="img-fluid" src="/assets/sponsors/qc_logo_flt_rgb_blu_pos.png">
                    </div>
                    <div class="col my-auto text-center">
                        <img class="img-fluid" src="/assets/sponsors/PricewaterhouseCoopers_Logo.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="sponsrs1">
        <div class="raise-box">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="subheading">
                            <span class="full-text">howzhack_partners</span>
                            <span class="short-text">howzhack _partners</span>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 my-auto text-center">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/CYRRUP.png">
                    </div>
                    <div class="col-4 my-auto text-center">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/apxor.png">
                    </div>
                    <div class="col-4 my-auto text-center">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/dreamvu.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h1 class="subheading">
                            <span class="full-text">internship_partner</span>
                            <span class="short-text">internship _partner</span>
                        </h1>
                    </div>
                    <div class="col text-center">
                        <h1 class="subheading">
                            <span class="full-text">outreach_partner</span>
                            <span class="short-text">outreach _partner</span>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-auto text-center">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/IS_Logo.svg">
                    </div>
                    <div class="col my-auto text-center">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/hellointern.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="sponsrs2">
        <div class="raise-box">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="subheading text-center">
                            <span class="full-text">ticketing_partners</span>
                            <span class="short-text">ticketing _partners</span>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4 col-12 my-3 text-center ">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/meraevents.jpg">
                    </div>
                    <br>
                    <div class="col col-md-4 col-12 my-3 text-center">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/stumagz.png">
                    </div>
                    <br>
                    <div class="col col-md-4 col-12 my-3 text-center">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/tcf.svg">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h1 class="subheading text-center">
                            <span class="full-text">energy_partner</span>
                            <span class="short-text">energy _partner</span>
                        </h1>
                    </div>
                    <div class="col text-center">
                        <h1 class="subheading text-center">
                            <span class="full-text">blogging_partner</span>
                            <span class="short-text">blogging _partner</span>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-auto text-center">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/Monster.jpg">
                    </div>
                    <div class="col my-auto text-center">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/sponsors/edtimes.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="contact_us">
        <div class="raise-box">
            <div class="container">
                <div class="row py-5">
                    <h1 class="main-heading display-2">contact_us</h1>
                </div>
                <div class="container text-center">
                    {% for person in site.data.contact %}
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-4">
                            <h3>
                                <span class="full-text">{{person.firstname}}_{{person.lastname}}</span>
                                <span class="short-text">{{person.firstname}} _{{person.lastname}}</span>
                            </h3>
                        </div>
                        <div class="col-6 col-md-4">
                            <a href="tel:+91{{person.phone}}">
                                <h3>+91 {{person.phone}}</h3>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="section fp-auto-height" id="footer">
        <div class="row text-center">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <ul class="list-inline pt-3">
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.facebook.com/ecell.iiithyd/" target="_blank"><h2><i class="fab fa-facebook"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.instagram.com/ecell_iiith/" target="_blank"><h2><i class="fab fa-instagram"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://twitter.com/ecell_iiithyd" target="_blank"><h2><i class="fab fa-twitter"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA" target="_blank"><h2><i class="fab fa-youtube"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://github.com/IIIT-ECell" target="_blank"><h2><i class="fab fa-github"></i></h2></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
