---
layout: page
---
<link href="/css/home.css" rel="stylesheet">
<div id="fullpage">
    <div class="section hero">
        <div class="hero-parent">
            <span class="hero-byline">meet &middot; ideate &middot; hack</span>
            <h1 class="hero-title">
                megathon<span class="hero-title-gradient">.in</span>
            </h1>
        </div>
            <div class="hero-2019 d-none d-md-block">
                2019
            </div>
            <div class="hero-2019-small d-md-none">
                20<br>19
            </div>
    </div>
    <div class="section" id="#about">
        <div class="slide">
            <h1 class="main-heading text-center display-1">ABOUT US</h1>
            <hr class="my-4">
            <!-- <a href="#about/1">
                <div class="arrowSliding">
                    <div class="arrow"></div>
                </div>
                <div class="arrowSliding delay1">
                    <div class="arrow"></div>
                </div>
                <div class="arrowSliding delay2">
                    <div class="arrow"></div>
                </div>
                <div class="arrowSliding delay3">
                    <div class="arrow"></div>
                </div>
            </a> -->
            <a href="#about/1"><h1 class="display-1 text-center">Read More <i class="fa fa-arrow-right"></i></h1></a>
        </div>
        <div class="slide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <h1 class="sub-heading">Our History</h1>
                        <p>
                            Started in 2016, Megathon is Hyderabad's largest student-run Hackathon. Organised by E-Cell IIIT Hyderabad with the intention of promoting the spirit of entrepreneurship and development among the student community in and around the city, it has gotten bigger and more successful over the years; drawing 450 participants in its first year, and upwards of 600 in its second. 
                            It didn't stop there. In the 3rd edition we introduced an online event, taking the hackathon nationwide. The 2018 edition of Megathon had over 1000 participants from colleges all across the country.
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <iframe src="https://www.youtube.com/embed/KuaNsJj31Qw" height="100%" width="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h1 class="main-heading display-2">Megathon 2019</h1>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p>
                        Megathon returns in 2019, and it's better than ever. Following the success of the online event last year, in this year's iteration of [online round name] we've introduced multiple problem statements for you to hack away at. Along with the 24 hour Onsite Hackathon on IIIT Campus grounds, this provides to participants multiple opportunities at winning [some fancy way to say prizes?]
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>